function datauri() {
  local MIMETYPE=$(file --mime-type "$1" | cut -d ' ' -f2)
  if [[ $MIMETYPE == "text/*" ]]; then
    MIMETYPE="${MIMETYPE};charset=utf-8"
  fi
  echo "data:${MIMETYPE};base64,$(openssl base64 -in "$1" | tr -d '\n')"
}

function md() {
  mkdir -p "$@" && cd "$@"
}

function ytmp3() {
  youtube-dl --extract-audio --audio-format "mp3" --audio-quality 0 ${1}
}

function ytmp4() {
  youtube-dl -f bestvideo[ext=mp4]+bestaudio[ext=m4a]/mp4 ${1}
}
