[alias]
  append = "!f() { git add --all && git commit -a --amend --no-edit; }; f"
  # Remove branches that have already been merged with master (preview)
  bclean = "!f() { git branch --merged | grep -v '\\*'; }; f"
  # Remove branches that have already been merged with master
  bcleanf = "!f() { git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d; }; f"
  dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
  history = log --follow -p
  lg = log --pretty=format:'%C(yellow)%h%C(reset) %ad %C(green)%an %C(reset)%s%C(red)%d' --date=short --decorate
  undo = "!f() { git reset --soft HEAD~1 && git reset HEAD .; }; f"
  wip = "!f() { git add --all && git commit -a --no-verify -m 'WIP'; }; f"
[color]
  ui = always
[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red
  new = green
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red
  oldHighlight = "red 52"
  newNormal = "green"
  newHighlight = "green 22"
[core]
  editor = nano
  excludesfile = ~/.gitignore
[push]
  default = simple

# Include username / email / etc from separate file
[include]
  path = ~/.gitconfig_private
